<!DOCTYPE html>
<html ng-app="um">
<head ng-controller="headController as vm">
    <title>{{vm.pageTitle}}</title>
	<meta charset="utf-8" />    
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse  navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Ung Musikk</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Hjem</a></li>
                    <li><a href="#/KongsbergStorband">Kongsberg Storband</a></li>
                    <li><a href="#/Om">Om Ung Musikk</a></li>
                    <li><a href="#/Kontakt">Kontakt</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    <div class="container">
        <div ng-view class="section"></div>
        <div class="section ">
            <hr />
            <div class="row">
                <div class="col-md-4 commentText">
                    Copyright &copy; 2016 | Ung Musikk Kongsberg
                </div>
                <div class="col-md-4 commentText">
                    <div>
                        Utviklet av : vare.no consulting
                    </div>
                    <div>Thomas Bjørndahl</div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="js/jquery/jquery-1.9.1.min.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/umModule.min.js"></script>
    <script src="js/config.min.js"></script>
    <script src="js/headController.min.js"></script>
    <script src="js/viewsController.min.js"></script>
    <script src="js/ksController.min.js"></script>
    <script src="js/newsController.min.js"></script>
</body>

    
</html>
