<!DOCTYPE html>
<html ng-app="um">
<head ng-controller="headController as vm">
    <title>{{vm.pageTitle}}</title>
	<meta charset="utf-8" />    
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="viewsController as vm" class="container">
        
    </div>
    <script src="js/jquery/jquery-1.9.1.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/umModule.min.js"></script>
    <script src="js/headController.min.js"></script>
    <script src="js/viewsController.min.js"></script>
</body>

    
</html>
